# mount this as /etc/nginx/sites-templates/cool-app.conf.tmpl
# will be available as /etc/nginx/sites-enabled/cool-app.conf

server {
  listen       80;
  server_name  localhost;
  root	       /static;

  location /sentences {
  	   if ($request_method = POST ) {
	      proxy_pass   http://${NEWSENTENCEENDPOINTSERVICE_PORT_3000_TCP_ADDR}:${NEWSENTENCEENDPOINTSERVICE_PORT_3000_TCP_PORT};
	   }

	   if ($request_method = GET ) {
	      proxy_pass   http://${GETSENTENCESENDPOINTSERVICE_PORT_4000_TCP_ADDR}:${GETSENTENCESENDPOINTSERVICE_PORT_4000_TCP_PORT};
	   }
  }
}
